Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
Str = "python"
L = [1, 5, 9-7j, "pws"]
F = 45.73
T = (1, 2, "data", 9, 10)

In [4]:
type(T)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

var1 leads to error.
var2 leads to error.
var3 is List data type.
var4 is Integer data type.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [8]:
a = 24
b = 4
c = 5

d = a/b
print(d)

6.0

In [9]:
e = a%c
print(e)

4

In [10]:
e = a//c
print(e)

4

In [12]:
f = b**2
print(f)

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
l = [1, 2, 3, 4, 5, 6, "my 1st assignment", 4+6j, (8,9,4), 5.97]
for i in l:
    print(type(i), i)

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
<class 'str'> my 1st assignment
<class 'complex'> (4+6j)
<class 'tuple'> (8, 9, 4)
<class 'float'> 5.97

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
A = int(input("enter no. A"))
B = int(input("enter no. B"))
i = 0
if A%B == 0:
    while (A%B == 0):
        A = A/B
        i = i+1
        print('divisible by:', i)
else:
    print('not divisible')

enter no. A 20
enter no. B 2

divisible by: 1
divisible by: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
new_list = [3, 9, 10, 12, 15, 16, 45, 7, 6, 25, 13, 10, 19, 26, 27, 36, 100, 99, 11, 71, 81, 30, 33, 50, 60]
len(new_list)

25

In [48]:
for i in new_list:
    if i%3 == 0:
        print('{} divisible by 3'.format(i))
    else:
        print('{} not divisible by 3'.format(i))

3 divisible by 3
9 divisible by 3
10 not divisible by 3
12 divisible by 3
15 divisible by 3
16 not divisible by 3
45 divisible by 3
7 not divisible by 3
6 divisible by 3
25 not divisible by 3
13 not divisible by 3
10 not divisible by 3
19 not divisible by 3
26 not divisible by 3
27 divisible by 3
36 divisible by 3
100 not divisible by 3
99 divisible by 3
11 not divisible by 3
71 not divisible by 3
81 divisible by 3
30 divisible by 3
33 divisible by 3
50 not divisible by 3
60 divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In mutable data types, elements can be edited. (for example - list) 
In immutable data types, elements can't be edited. (for example - string, tuple)

In [49]:
new_list[1] = 10

In [50]:
print(new_list[1])

10

In [51]:
print(new_list)

[3, 10, 10, 12, 15, 16, 45, 7, 6, 25, 13, 10, 19, 26, 27, 36, 100, 99, 11, 71, 81, 30, 33, 50, 60]

In [54]:
tup = (1, 2, 3)
tup(0) = 5
print(tup)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (865174056.py, line 2)